<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.mlkit.vision.demo"
    android:installLocation="auto">
    <!-- CameraX libraries require minSdkVersion 21, while this quickstart app
    supports low to 19. Needs to use overrideLibrary to make the merger tool
    ignore this conflict and import the libraries while keeping the app's lower
    minSdkVersion value. In code, will check SDK version, before calling CameraX
    APIs. -->
    <uses-sdk
        tools:overrideLibrary="
          androidx.camera.camera2, androidx.camera.core,
          androidx.camera.view, androidx.camera.lifecycle,
          com.google.mlkit.vision.segmentation.subject" />

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>



    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:icon="@drawable/flash"
        android:label="Flash健身"
        android:theme="@style/AppTheme">


        <service
            android:name=".java.MediaProjectionForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" ></service>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Optional: Add it to automatically download ML model to device after
          your app is installed.-->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ocr_chinese,ocr_devanagari,ocr_japanese,ocr_korean,ica,custom_ica,subject_segment"/>

        <activity
            android:name=".EntryActivity"
            android:exported="true"
            android:theme="@style/AppTheme">


        </activity>
        <activity
            android:name=".java.ChatActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        </activity>

        <activity
            android:name=".java.ShowFoodActivity"
            android:exported="false" />
        <activity
            android:name=".java.IntermediaryActivity"
            android:exported="true" />

        <activity
            android:name=".java.BaseActivity"
            android:exported="true" />

        <activity
            android:name=".java.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.Activity_person"
            android:exported="true" />
        <activity

            android:name=".java.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".java.PersonalInfoActivity"
            android:exported="true" />
        <activity

            android:name=".java.Activity_action"
            android:exported="true" />
        <activity
            android:name=".java.Activity_diary"
            android:exported="true" />
        <activity
            android:name=".java.diary_new"
            android:exported="true" />


        <activity
            android:name=".java.VideoDetailsActivity"
            android:exported="true" />

        <activity
            android:name=".java.AddActivity"
            android:exported="true" />



        <activity
            android:name=".java.ChooserActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".java.CameraXLivePreviewActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name=".preference.SettingsActivity"
            android:exported="false"/>



        <activity
            android:name=".java.ResultActivity"
            android:exported="false"/>


    </application>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>
